@{
    ViewData["Title"] = "About Us";
}

<body>
    <h1>About Flex Trainer</h1>
    <p>
        Flex Trainer is a comprehensive web application designed to facilitate gyms and health membership systems. It assists gym owners in managing records of registered members, providing guidance on exercises, muscle groups, weight loss goals, diet plans, calorie logs, and daily targets to achieve. The main objective of Flex Trainer is to help members achieve their fitness goals efficiently.
    </p>
    <h2 id="grp">Group Members</h2>
    <div class="container2">
        <figure>
            <img src="~/img/atif.jpg"/>
            <figcaption>Atif</figcaption>
        </figure>
        <figure>
            <img src="~/img/mustafa.jpg" />
            <figcaption>Mustafa</figcaption>
        </figure>
        <figure>
            <img src="~/img/saad.jpg" />
            <figcaption>Saad</figcaption>
        </figure>
    </div>
</body>
