@{
    ViewData["Title"] = "Home Page";
}
<body id="index">
    <section class="hero">
        <div class="containerI">
            <h1>Welcome to Flex Trainer Gym</h1>
            <p>Your path to a healthier lifestyle starts here.</p>
            <a class="button" asp-area="" asp-controller="Home" asp-action="Login">Get Started</a>
        </div>
    </section>
    <hr />
</body>
