@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home Page - Admin";
}
<body id ="AdminIndex">
        <section class="hero">
        <div class="containerI">
            <h1>Welcome to Flex Trainer Gym</h1>
            <p>Your path to a healthier lifestyle starts here.</p>
           
        </div>
    </section>
    <hr />
    <section class="admin">
        <div class="containerA">
            <h1>Admin Panel</h1>
            <p>Manage your gym with ease.</p>
           </div>        
</body>